
:root{
	--grey: #F2F3F7;
	--black: #456078;
	--blue: #4070f4;
	--light-blue: #BECDE2;
	--dark-blue: #456078;
	--placeholder-color: #8C94A0;
	--font: 'Roboto', sans-serif;
}
body{
	background: var(--grey);
}
.first-wrapper{
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background: var(--grey);
}
.search{
	position: relative;
}
@media (min-width: 960px){
	.search{
		padding: 0;
	}
}
.search__input-text{
	display: block;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	padding: 15px 25px;
	background: var(--grey);
	box-shadow: inset -5px -5px 30px #FFFFFF, inset 4px 4px 8px rgba(190, 205, 226, 0.5);
	border-radius: 60px;
	border: none;
	color: var(--black);
	font-size: 16px;
	line-height: 24px;
	
	outline: none;
}
.search__input-text::placeholder{
	color: var(--placeholder-color);
}
.search__input-text:focus + .search__btn,
.search__input-text:not(:placeholder-shown) + .search__btn{
	opacity: 1;
	visibility: visible;
}
.search__input-text:not(:placeholder-shown) ~ .search__variants{
	height: auto;
	padding: 15px 0;
}
.search__btn{
	position: absolute;
	top: 10px;
	right: 15px;
	opacity: 0;
	visibility: hidden;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blue);
	box-shadow: 6px 6px 16px var(--light-blue);
	border: none;
	border-radius: 50%;
	box-sizing: border-box;
	transition: 0.5s;
	cursor: pointer;
	outline: none;
}
.search__btn--result{
	background: var(--black);
}
@media (max-width: 960px){
	.search__btn{
		right: 30px;
	}
}
.search__btn:focus{
	outline: none;
}
.search__variants{
	position: absolute;
	top: calc(100% + 15px);	
	left: 15px;
	height: 0;
	width: calc(100% - 30px);
}
@media (min-width: 960px){
	.search__variants{
		width: 100%;
		left: 0;
	}
}
.variants{
	background: var(--grey);
	box-shadow: -6px -6px 16px #FFFFFF, 6px 6px 16px var(--light-blue);
	border-radius: 20px;
	overflow: hidden;
	transition: 0.5s;
	box-sizing: border-box;
}
.variants__link{
	display: block;
	padding: 8px 25px;
	color: var(--black);
	
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
.variants__link:hover{
	color: var(--black);
	background: var(--light-blue);
	text-decoration: none;
}
.variants__link--selected{
	font-weight: normal;
}
.results{
	padding-top: 95px;
}
.results__list{}
@media (min-width: 960px){
	.results__list{
		padding: 0;
	}
}
.results__search{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 0;
	transition: 0.5s;
}
.results__search--scroll{
	background: var(--grey);
	padding-bottom: 25px;
	box-shadow: 0px 4px 5px #BECDE2;
}
.results__process{
	min-height: calc(100vh - 95px);
	display: flex;
	transition: 0.2s;
	overflow: hidden;	
}
.process{
}
.process__title{
	margin-bottom: 20px;
	
	color: var(--black);
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.process__line{
	position: relative;
	height: 15px;
	background: #f3f3f3;
	box-shadow: -6px -6px 15px #FFFFFF, 6px 6px 15px rgba(104, 104, 104, 0.25);
	border-radius: 25px;
	overflow: hidden;
}
.process__line::before{
	content: "";
	display: block;
	height: 100%;
	background: var(--blue);
	border-radius: inherit;
	animation-name: process;
	animation-duration: 2.5s;
	animation-direction: normal;
}
@keyframes process {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
.results__list{
	display: none;
	height: 0;
	margin: 0 auto;
	transition: 0.2s;
	overflow: hidden;
	visibility: hidden;
}
.list__item{
	margin-top: 16px;
}
.item{
	
	color: var(--black);
}
.item__title{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 5px;
	color: var(--black);
}
.item__description{
	margin: 0;
	margin-bottom: 5px;
}
.item__description--search-word{
	font-weight: 500;
}
.item__more{
	color: var(--blue);
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 5px;

}
.item__information{
	margin-bottom: 8px;
}
.information{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	line-height: 22px;
}
.information__link{
	color: var(--blue);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.information__date{
	margin-left: 15px;
	color: var(--black);
	white-space: nowrap;
}
.list__pagination{
	margin-top: 25px;
}
.pagination{
	display: flex;
    width: fit-content;
    margin: 0 auto;
	background: #F0F0F3;
	box-shadow: 1.5px 1.5px 3px rgba(174, 174, 192, 0.4), -1px -1px 3px #FFFFFF;
	border-radius: 5px;
}
.pagination__link{
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	width: 20px;
	height: 20px;
	color: var(--blue);
	font-weight: 500;
	font-size: 10px;
	line-height: 100%;
}
.pagination__link:hover,
.pagination__link--active{
	background: #EEEEEE;
	box-shadow: inset 1px 1px 2px rgba(174, 174, 192, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.7);
	border-radius: 5px;
}
.pagination__link--active::after{
	content: "";
	position: absolute;
	bottom: 2px;
	width: 2.5px;
	height: 2.5px;
	background: var(--blue);
	border-radius: 50%;
}
.list__menu{
	width: fit-content;
	margin: 24px auto 0;
	text-align: center;
}
.menu__link{
	position: relative;
	font-size: 14px;
	line-height: 22px;
	color: var(--blue);
}
.menu__link + .menu__link{
	margin-left: 22px;
}
.menu__link + .menu__link:not(.menu__link--site)::before{
	content: "";
	position: absolute;
	top: 8px;
	left: -16px;
	width: 6px;
	height: 6px;
	background: var(--black);
	border-radius: 50%;
}
.menu__link--site{
	display: block;
	margin-top: 8px;
	text-align: center;
}
.list__footer-text{
	margin: 8px auto 24px;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	color: var(--black);
}